<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Squash Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#3DF862"> Hello {{current_user.first_name}}!</h1>
            </div>
            <div class="body">
                <table class="table table-light table-hover">
                    <thead class="thead-dark">
                       <th scope="col">Project</th>
                       <th scope="col"> Description</th>
                       <th scope="col"> Created At</th>
                       <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                       {% for project in projects %}
                       <tr>
                           <td><a href="/projects/{{project.id}}" style="color:#3DF862;" class="badge badge-dark">{{ project.project_name }}</a></td>
                           <td>{{ project.project_desc }}</td>
                           <td>{{ project.created_at }}</td>
                           <td><a href="/projects/{{project.id}}" style="color: #3DF862;" class="badge badge-dark">View</a>
                            {% if current_user.id == project.user.id %}
                            <a href="/projects/edit/{{project.id}}" style="color: #3DF862;"class="badge badge-dark">Edit</a>
                            <a href="/projects/{{project.id}}/delete" style="color: #3DF862;"class="badge badge-dark">Remove</a>
                            {% endif %}
                        </td>
                       </tr>
                       {% endfor %}
        
                    </tbody>
                </table>
            </div>
            <!-- end body -->
            <div class="footer" style="text-align: center;">
                <a class="btn btn-outline-dark" role="button" href="/projects/new" style= "color: #3DF862;font-family: Arial, Helvetica, sans-serif;">Add Project</a></button>
                <a class="btn btn-outline-dark" role="button" href="/logout" style= "color: #3DF862; font-family: Arial, Helvetica, sans-serif;">Logout!</a></button>
            </div>
            <!-- end of footer -->
        </div>
        <!-- end container -->
    </body>
</html>