<!DOCTYPE html>
<html lang="en">

	<title>Sign up for Squash!: a bug tracker</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<head>
        
		<script src="jquery/jquery.min.js"></script>
		<!---- jquery link local dont forget to place this in first than other script or link or may not work ---->
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!---- boostrap.min link local ----->
		
		<link rel="stylesheet" href="css/style.css">
		<!---- boostrap.min link local ----->

		<script src="js/bootstrap.min.js"></script>
		<!---- Boostrap js link local ----->
		
		<link rel="icon" href="images/icon.png" type="image/x-icon" />
		<!---- Icon link local ----->
		
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <!---- Font awesom link local ----->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>
	<body>
	<div class="container-fluid">
		<div class="container">
			<h1 class="text-center" id="title" style="font-family:Arial, Helvetica, sans-serif; color:#3DF862">Welcome to Squash: a bug tracker!</h1>
			 
 			<hr>
			<div class="row">
				<div class="col-md-5">
                    {% if request.session.register_error == True %} {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                    {%endfor%} {% endif %}
                     <form role="form" method="POST" action="/register">
                        {% csrf_token %}
						<fieldset>							
							<p class="text-uppercase pull-center"> SIGN UP.</p>	
 							<div class="form-group">
								<input type="text" name="first_name" id="username" class="form-control input-lg" placeholder="First Name">
                            </div>
                            
                            <div class="form-group">
								<input type="text" name="last_name" id="username" class="form-control input-lg" placeholder="Last Name">
							</div>

							<div class="form-group">
								<input type="email" name="email" id="email" class="form-control input-lg" placeholder="example@email.com">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
							</div>
								<div class="form-group">
								<input type="password" name="confirm_pw" id="password2" class="form-control input-lg" placeholder="Confirm Password">
							</div>
 							<div>
 									  <input type="submit" class="btn btn-outline-dark"  value="Register" style=" color: #3DF862;font-family:Arial, Helvetica, sans-serif;">
 							</div>
						</fieldset>
					</form>
				</div>
				
				<div class="col-md-2">
					<!-------null------>
				</div>
				
				<div class="col-md-5">
                    {% if request.session.register_error == False%} {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                    {%endfor%} {%endif%}
 				 		<form role="form" action="/login" method="POST">
                            {% csrf_token %}
						<fieldset>							
							<p class="text-uppercase"> Login using your account: </p>	
 								
							<div class="form-group" >
								<input type="email" name="email" id="username" class="form-control input-lg" placeholder="example@email.com">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
							</div>
							<div>
								<input type="submit" class="btn btn-outline-dark" style="font-family:Arial, Helvetica, sans-serif; color:#3DF862" value="Sign In" >
							</div>
								 
 						</fieldset>
				</form>	
				</div>
			</div>
		</div>
		
	</div>
	</body>
	 

</html>