<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ project.project_name }} info</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="header" >
                <h1 style="font-family: Arial, Helvetica, sans-serif;text-align: center; color:#3DF862"><u>{{ project.project_name}}</u></h1>
                <p style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">{{ project.project_desc}}</p>
            </div>
            <div class="body">
                <table class="table table-light table-hover">
                    <thead class="thead-dark">
                        <th>Bug Name:</th>
                        <th>Description:</th>
                        <th>Priority:</th>
                        <th>Action:</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="badge badge-dark" style="color:#3DF862;">name</td>
                            <td>description</td>
                            <td>low</td>
                            <td class="badge badge-dark">Edit | Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end body -->
            <div class="footer" style="text-align: center;">
                <button class="btn btn-info" style="background-color:#3DF862"><a href="/addbug" style= "color: black; text-decoration: none; font-family:Arial, Helvetica, sans-serif;">Add Bug</a></button>
                <button class="btn btn-info" style="background-color:#3DF862"><a href="/dashboard" style= "color: black; text-decoration: none;font-family:Arial, Helvetica, sans-serif;">Dashboad</a></button>
                <button class="btn btn-md" style="background-color:#3DF862"><a href="/logout" style= "color: black; text-decoration: none;font-family:Arial, Helvetica, sans-serif;">Logout!</a></button>
            </div>
            <!-- end of footer -->
        </div>
        <!-- end container -->
    </body>
</html>